body{
    background: linear-gradient(to top,#05150c, #0f0f0f);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: "Jersey 15", sans-serif;
     font-size: 110px;
    color: #20fb14;
}

p{
    font-family: "Jersey 15", sans-serif;
    font-size: 50px;
    color: #ffff;
}

li{
    font-family: "Jersey 15", sans-serif;
    font-size: xx-large;
    color: #20fb14;
}

a:visited{
    font-family: "Jersey 15", sans-serif;
    font-size: xx-large;
    color: #20fb14;
}

a:active{
    font-family: "Jersey 15", sans-serif;
    font-size: xx-large;
    color: #ffffff;
}